{% extends "includes/datatable.html" %}
{% block table_header %}Inventory View{% endblock %}
{% block table_content %}
<thead>
    <th>#</th>
    <th>Item Name</th>
    <th>Mastercode</th>
    <th>Location</th>
    <th>Barcode</th>
    <th>Current Stock</th>
    <th>Stock Alert</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item }}</td>
            <td>{{ item.mastercode }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.get_current_stock }}</td>
            <td>{{ item.stock_alert }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Job Controls">
                    <a href="{% url 'stock_item_details' item.id %}" class="btn btn-success">
                        <i class="far fa-eye"></i> View
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}