{% extends "includes/datatable.html" %}
{% block table_header %}
    {% if table_title %}
        {{ table_title }}
    {% else %}
        Stock Assignment
    {% endif %}
{% endblock %}
{% block table_content %}
<thead>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>User</th>
    <th>Withdrawl Date</th>
    <th>Job</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for transfer in transfers %}
        <tr>
            <td>
                <a href="{% url 'stock_item_details' transfer.item.id %}">
                    {{ transfer.item }}
                </a>
            </td>
            <td>{{ transfer.quantity }}</td>
            <td>{{ transfer.user }}</td>
            <td>{{ transfer.created_on }}</td>
            <td>
                {% if transfer.job %}
                    <a href="{% url 'job_detail' transfer.job.id %}">
                        {{ transfer.job }}
                    </a>
                {% else %} 
                    {{ transfer.job }}
                {% endif %}
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Actions">
                    <a href="{% url 'edit_stock_transfer' transfer.id %}" class="btn btn-success">
                        <i class="far fa-eye"></i> Edit
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}