<div class="row">
    <div class="col-12 col-lg-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Item Name</b>
                <span class="float-right">{{ item.name }}</span>
            </li>
            <li class="list-group-item">
                <b>Mastercode</b>
                <span class="float-right">{{ item.mastercode }}</span>
            </li>
            <li class="list-group-item">
                <b>Location</b>
                <span class="float-right">{{ item.location }}</span>
            </li>
        </ul>
    </div>
    <div class="col-12 col-lg-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Barcode</b>
                <span class="float-right">{{ item.barcode }}</span>
            </li>
            <li class="list-group-item">
                <b>Current Stock</b>
                <span class="float-right">{{ item.get_current_stock }}</span>
            </li>
            <li class="list-group-item">
                <b>Stock Alert</b>
                <span class="float-right">{{ item.stock_alert }}</span>
            </li>
        </ul>
    </div>
</div>