{% extends "includes/datatable.html" %}
{% block table_header %}Supplier List{% endblock %}
{% block table_content %}
<thead>
    <th>#</th>
    <th>Supplier</th>
    <th>Assets</th>
    <th>Stock Receipts</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier }}</td>
            <td>{{ supplier.assets }}</td>
            <td>{{ supplier.stock_receipts }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Job Controls">
                    <a href="{% url 'supplier_details' supplier.id %}" class="btn btn-success">
                        <i class="far fa-eye"></i> View
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}