{% extends "base.html" %}
{% load static %}

{% block main_content %}
<header class="sticky-top shadow">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/owl-icon.png' %}" alt="Logo" width="30" height="30">
            Pallas
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#loginNavbar" aria-controls="loginNavbar" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="loginNavbar">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}" class="nav-link">
                            <i class="fas fa-folder"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">
                            <i class="fas fa-user-slash"></i> Log Out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link">
                            <i class="fas fa-user-alt"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">
                            <i class="fas fa-pen"></i> Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main role="main">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to Pallas</h1>
            <p class="lead">The Job Logging Application</p>
            <hr class="my-4">
            <p>A bespoke job logging system for the engineering team at Meade Farm Group</p>
            <p>
                <a href="{% url 'account_login' %}" class="btn btn-primary my-2">
                    <i class="fas fa-user"></i> Log In
                </a>
                <a href="{% url 'account_signup' %}" class="btn btn-secondary my-2">
                    <i class="fas fa-pen"></i> Register
                </a>
            </p>
        </div>
    </div>
{% endblock %}