<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <b>Today</b>
        <span class="float-right">{{ hours_today }}</span>
    </li>
    <li class="list-group-item">
        <b>This Week</b>
        <span class="float-right">{{ hours_week }}</span>
    </li>
    <li class="list-group-item">
        <b>This Month</b>
        <span class="float-right">{{ hours_month }}</span>
    </li>
    <li class="list-group-item">
        <b>All Time</b>
        <span class="float-right">{{ hours_all }}</span>
    </li>
</ul>