<table class="table table-responsive-sm">
    <thead>
        <th>#</th>
        <th>Job</th>
        <th>Due Date</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>
                    <a href="{% url 'job_detail' job.id %}">
                        {{ job }}
                    </a>
                </td>
                <td>{{ job.due_date }}</td>
                <td>{{ job.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if jobs|length > 0 %}
    <a href="{% url 'user_jobs' employee.id %}" class="btn btn-info btn-lg btn-block">
        View All <i class="fas fa-arrow-down"></i>
    </a>
{% endif %}