<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <b>Outstanding</b>
        <span class="float-right">{{ outstanding_jobs }}</span>
    </li>
    <li class="list-group-item">
        <b>Started</b>
        <span class="float-right">{{ started_jobs }}</span>
    </li>
    <li class="list-group-item">
        <b>Completed</b>
        <span class="float-right">{{ completed_jobs }}</span>
    </li>
    <li class="list-group-item">
        <b>Cancelled</b>
        <span class="float-right">{{ cancelled_jobs }}</span>
    </li>
</ul>