{% extends "includes/datatable.html" %}
{% block table_header %}Staff List{% endblock %}
{% block table_content %}
<thead>
    <th>#</th>
    <th>Name</th>
    <th>Department</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for employee in staff_list %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.get_full_name }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.user.email }}</td>
            <td>{{ employee.phone_number }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Job Controls">
                    <a href="{% url 'staff_detail' employee.id %}" class="btn btn-success">
                        <i class="far fa-eye"></i> View
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}