@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

:root {
    --blue-header: #0B345B;
    --blue-body: #2074AC;
    --off-white: #F5F5F5;
}

/* Main Element Rules */

html {

}

body {
    font-family: 'Lato', sans-serif;
}

main {
    background-color: var(--off-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Navbar Rules */

nav {
    background-color: var(--blue-header);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--off-white);
}

.nav-item .active {
    color: black;
    background-color: var(--off-white);
}


/* sidebar rules */

/* Rule copied from https://getbootstrap.com/docs/4.6/examples/dashboard/ */ 
.sidebar {
    background-color: var(--blue-body);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
