@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

:root {
    --blue-header: #0B345B;
    --blue-body: #2074AC;
    --off-white: #F5F5F5;
}

/* Main Element Rules */

html {

}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Navbar Rules */

nav {
    background-color: var(--blue-header);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--off-white);
}

.nav-item .active {
    color: black;
    background-color: var(--off-white);
}


