{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="{{ action }}" class="row" method="post">
        {% csrf_token %}
        <div class="col-12">
            <div class="card content-card">
                <h4 class="card-header">
                    {{ header }}
                </h4>
                <div class="card-body">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-12 col-lg-6">
                                {{ field | as_crispy_field }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if extra_form %}
            {% include "includes/card-12.html" with card_header=extra_form_header card_content=extra_form %}
        {% endif %}
        <button type="submit" class="btn action-button btn-success">
            <i class="fas fa-check"></i> {{ submit_text }}
        </button>
        <a href="{{ cancel }}" class="btn action-button btn-danger">
            <i class="fas fa-times"></i> Cancel
        </a>
    </form>
{% endblock %}

{% block extrajs %}
    {% if form_js %}
        <script src="{% static form_js %}"></script>
    {% endif %}
{% endblock %}