{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid account-body">
    <div class="row">
        <div class="card text-center col-12 col-md-6 offset-md-3 account-card">
            <div class="card-header">
                <a href="{% url 'home' %}" class="">
                    <img src="{% static 'images/owl-icon.png' %}" alt="Logo" width="30" height="30">
                    Pallas
                </a>
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == 25 %}
                            <div class="alert alert-success text-center" role="alert">
                                <strong>Success:</strong> {{ message }} <i class="fas fa-check"></i>
                            </div>
                        {% elif message.level == 20 %}
                            <div class="alert alert-info text-center" role="alert">
                                <strong>Info:</strong> {{ message }} <i class="fas fa-info-circle"></i>
                            </div>
                        {% elif message.level == 30 %}
                            <div class="alert alert-warning text-center" role="alert">
                                <strong>Warning:</strong> {{ message }} <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        {% elif message.level == 40 %}
                            <div class="alert alert-danger text-center" role="alert">
                                <strong>Error:</strong> {{ message }} <i class="fas fa-times-circle"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}