
{% extends "includes/datatable.html" %}
{% block table_header %}
    {% if table_title %}
        {{ table_title }}
    {% else %}
        Assets
    {% endif %}
{% endblock %}
{% block table_content %}
<thead>
    <th>#</th>
    <th>Asset Name</th>
    <th>Asset Type</th>
    <th>Department</th>
    <th>Location</th>
    <th>Supplier</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for asset in assets %}
        <tr>
            <th scope="row">{{ asset.id }}</th>
            <td>{{ asset.asset_name }}</td>
            <td>{{ asset.asset_type }}</td>
            <td>{{ asset.department }}</td>
            <td>{{ asset.location }}</td>
            <td>{{ asset.supplier }}</td>
            <td>
                <a href="{% url 'asset_details' asset.id %}" class="btn btn-success">
                    <i class="far fa-eye"></i> View
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}
