{% extends "main.html" %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Asset #{{ asset.id }}
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Asset Name</b>
                                <span class="float-right">{{ asset.asset_name }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Asset Type</b>
                                <span class="float-right">{{ asset.asset_type }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b>
                                <span class="float-right">{{ asset.department }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Location</b>
                                <span class="float-right">{{ asset.location }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Supplier</b>
                                <span class="float-right">{{ asset.supplier }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Installation Date</b>
                                <span class="float-right">{{ asset.installation_date }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Description</b>
                                <p class="float-right">{{ asset.description }}</p>
                            </li>
                            <li class="list-group-item">
                                <b>Barcode</b>
                                <span class="float-right">{{ asset.barcode }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Active</b>
                                <span class="float-right">{{ asset.active }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Project Time Statistics
            </h4>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>PPM Jobs</b>
                        <span class="float-right">{{ ppms|length }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Jobs Logged</b>
                        <span class="float-right">{{ jobs|length }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Users Involved</b>
                        <span class="float-right">{{ distinct_users }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Total Job Time Logged</b>
                        <span class="float-right">{{ total_time }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Jobs Completed</b>
                        <span class="float-right">{{ completed }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Parts Used
            </h4>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <thead>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>User</th>
                        <th>Added On</th>
                    </thead>
                    <tbody>
                        {% for transfer in job_transfers %}
                            <tr>
                                <td>
                                    <a href="{% url 'stock_item_details' transfer.item.id %}">
                                        {{ transfer.item }}
                                    </a>
                                </td>
                                <td>{{ transfer.quantity }}</td>
                                <td>{{ transfer.user }}</td>
                                <td>{{ transfer.created_on }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Scheduled PPMs
            </h4>
            <div class="card-body">
                <table class="table table-responsive-lg">
                    <thead>
                        <th>#</th>
                        <th>PPM Title:</th>
                        <th>Created By:</th>
                        <th>Day Interval:</th>
                        <th>Active:</th>
                    </thead>
                    <tbody>
                        {% for ppm in ppms %} 
                            <tr>
                                <td>{{ ppm.id }}</td>
                                <td>
                                    <a href="{% url 'ppm_details' ppm.id %}">
                                        {{ ppm.job_title }}
                                    </a>
                                </td>
                                <td>{{ ppm.created_by }}</td>
                                <td>{{ ppm.time_interval }}</td>
                                <td>
                                    {% if ppm.active %}
                                        <i class="far fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="far fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Jobs
            </h4>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <thead>
                        <th>Job Number:</th>
                        <th>Job Title:</th>
                        <th>Status:</th>
                        <th>Created By:</th>
                        <th>Job Date:</th>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td>{{ job.id }}</td>
                                <td>
                                    <a href="{% url 'job_detail' job.id %}">{{ job }}</a>
                                </td>
                                <td>{{ job.status }}</td>
                                <td>{{ job.created_by }}</td>
                                <td>{{ job.created_on }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        {% load auth_tests %}
        {% manager_test as is_manager %}
        {% if is_manager %}
            <a href="{% url 'edit_asset' asset.id %}" class="btn action-button midnight-blue">
                <i class="fas fa-pen"></i> Edit Asset
            </a>
            <a href="{% url 'add_ppm' asset.id %}" class="btn action-button btn-success">
                <i class="fas fa-plus"></i> Add PPM Job
            </a>
            <a href="#" class="btn action-button btn-danger">
                <i class="fas fa-times"></i> Make Asset Inactive
            </a>
        {% endif %}
    </div>
    
{% endblock %}