{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'create_asset' %}" method="post">
        {% csrf_token %}
        <div class="col-12">
            <div class="card content-card">
                <h4 class="card-header">
                    Create Asset
                </h4>
                <div class="card-body">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-12 col-lg-6">
                                {{ field | as_crispy_field }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn action-button btn-success">
            <i class="fas fa-check"></i> Create Asset
        </button>
        <a href="{% url 'active_assets' %}" class="btn action-button btn-danger">
            <i class="fas fa-times"></i> Cancel
        </a>
    </form>
{% endblock %}