{% extends "includes/datatable.html" %}
{% block table_header %}Projects{% endblock %}
{% block table_content %}
<thead>
    <th>#</th>
    <th>Project Title</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Location</th>
    <th>Open Jobs</th>
    <th>Completed Jobs</th>
    <th>Actions</th>
</thead>
<tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.due_date }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.location }}</td>
            <td>#</td>
            <td>#</td>
            <td>
                <a href="{% url 'project_details' project_id=project.id %}" class="btn btn-success">
                    <i class="far fa-eye"></i> View
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}