{% extends "main.html" %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Project #{{ project.id }}
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Project Title</b>
                                <span class="float-right">{{ project.title }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b>
                                <span class="float-right">{{ project.location }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Due Date</b>
                                <span class="float-right">{{ project.due_date }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Created By</b>
                                <span class="float-right">{{ project.created_by }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Created On</b>
                                <span class="float-right">{{ project.created_on }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Status</b>
                                <span class="float-right">{{ project.status }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Description</b>
                                <p class="float-right">{{ project.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Parts Used
            </h4>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <thead>
                            <th>Part Name:</th>
                            <th>Barcode:</th>
                            <th>Quantity:</th>
                        </thead>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Project Jobs
            </h4>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <thead>
                            <th>Job Number:</th>
                            <th>Job Title:</th>
                            <th>Status:</th>
                            <th>Created By:</th>
                            <th>Job Date:</th>
                        </thead>
                        {% for job in jobs %}
                            <tr>
                                <td>{{ job.id }}</td>
                                <td>
                                    <a href="{% url 'job_detail' job.id %}">
                                        {{ job.job_title }}
                                    </a>
                                </td>
                                <td>{{ job.status }}</td>
                                <td>{{ job.created_by }}</td>
                                <td>{{ job.created_on }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}