{% extends "main.html" %}
{% load static %}

{% block content %}
    <div class="col-12 col-xl-4">
        <div class="card content-card">
            <h4 class="card-header">
                Jobs
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Outstanding</b>
                    <span class="float-right">{{ jobs.outstanding }}</span>
                </li>
                <li class="list-group-item">
                    <b>Started</b>
                    <span class="float-right">{{ jobs.started }}</span>
                </li>
                <li class="list-group-item">
                    <b>Completed</b>
                    <span class="float-right">{{ jobs.completed }}</span>
                </li>
                <li class="list-group-item">
                    <b>Cancelled</b>
                    <span class="float-right">{{ jobs.cancelled }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card content-card">
            <h4 class="card-header">
                People
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Staff In Today</b>
                    <span class="float-right">{{ people.in_today }}</span>
                </li>
                <li class="list-group-item">
                    <b>Hours Logged Today</b>
                    <span class="float-right">{{ people.hours_today }}</span>
                </li>
                <li class="list-group-item">
                    <b>Hours Logged This Week</b>
                    <span class="float-right">{{ people.hours_week }}</span>
                </li>
                <li class="list-group-item">
                    <b>Hours Logged This Month</b>
                    <span class="float-right">{{ people.hours_month }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card content-card">
            <h4 class="card-header">
                Projects
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>In Progress</b>
                    <span class="float-right">{{ projects.all }}</span>
                </li>
                <li class="list-group-item">
                    <b>Completed</b>
                    <span class="float-right">{{ projects.completed }}</span>
                </li>
                <li class="list-group-item">
                    <b>Project Jobs</b>
                    <span class="float-right">{{ projects.project_jobs }}</span>
                </li>
                <li class="list-group-item">
                    <b>Total Time on Projects</b>
                    <span class="float-right">{{ projects.total_time_logged }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="card content-card">
            <h4 class="card-header">
                Jobs - Charts
            </h4>
            <div class="card-body row">
                <div class="col-12 col-md-6">
                    <canvas id="jobsTodayChart"></canvas>
                </div>
                <div class="col-12 col-md-6">
                    <canvas id="jobsWeekChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="card content-card">
            <h4 class="card-header">
                Hours Logged - Projects vs Jobs
            </h4>
            <div class="card-body row">
                <div class="col-12 col-md-6">
                    <canvas id="hoursTodayChart"></canvas>
                </div>
                <div class="col-12 col-md-6">
                    <canvas id="hoursWeekChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}