{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extracss %}
    {% endblock %}
    <title>Pallas {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="sticky-top shadow">
        <nav class="navbar navbar-dark">
            <a href="#" class="navbar-brand">
                <img src="{{ MEDIA_URL }}owl-icon.png" alt="Game Logo" width="30" height="30">
                Pallas
            </a>

            {% if user.is_authenticated %}
                <div class="dropdown ml-auto">
                    <a role="button" class="nav-link dropdown-toggle" id="logoutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-alt"></i> James
                    </a>
                    <div class="dropdown-menu" aria-labelledby="logoutDropdown">
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </div>
            {% else %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#loginNavbar" aria-controls="loginNavbar" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="loginNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user-alt"></i> Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fab fa-wpforms"></i> Register
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-none d-md-block sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Reports</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto pt-3 px-4">
                {% if messages %}
                    <div class="message-container"></div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6a9c92e46f.js" crossorigin="anonymous"></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>