{% extends "base.html" %}
{% block main_content %}
<header class="sticky-top shadow">
    <nav class="navbar navbar-dark">
        <a href="#" class="navbar-brand">
            <img src="{{ MEDIA_URL }}owl-icon.png" alt="Logo" width="30" height="30">
            Pallas
        </a>

        {% if user.is_authenticated %}
            
            <div class="ml-auto d-none d-md-block">
                <div class="dropleft">
                    <a role="button" class="nav-link dropdown-toggle" id="logoutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if notification_count != 0 %}
                            <span class="notification-icon">{{ notification_count }}</span>
                        {% endif %} 
                        {{ profile.first_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="logoutDropdown">
                        {% if notification_count != 0 %}
                            <a href="{% url 'notification_table' %}" class="dropdown-item text-danger">{{ notification_count }} Outstanding Notifications</a>
                        {% endif %}
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto d-md-none mobile-nav" id="mobileNavbar">
                <ul class="navbar-nav ml-auto d-md-none">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" id="dashboardDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dashboard
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dashboardDropdown">
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'outstanding_jobs' %}" id="jobsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jobs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="jobsDropdown">
                            <a class="dropdown-item" href="{% url 'outstanding_jobs' %}">Outstanding Jobs</a>
                            <a class="dropdown-item" href="{% url 'create_job' %}">Create Job</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="assetsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Assets
                        </a>
                        <div class="dropdown-menu" aria-labelledby="assetsDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="stocksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stocks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stocksDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                        </div>
                    </li>
                    {% if profile.user_type == "Admin" or profile.user_type == "Manager" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                People
                            </a>
                            <div class="dropdown-menu" aria-labelledby="peopleDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mobileLogoutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-alt"></i> {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mobileLogoutDropdown">
                            <a href="/accounts/logout" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
    <ul class="nav justify-content-center d-none d-md-flex">
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link {% if nbar == 'dashboard' %}active{% endif %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'outstanding_jobs' %}" class="nav-link {% if nbar == 'jobs' %}active{% endif %}">Jobs</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'ongoing_projects' %}" class="nav-link {% if nbar == 'projects' %}active{% endif %}">Projects</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'active_assets' %}" class="nav-link {% if nbar == 'assets' %}active{% endif %}">Assets</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'inventory_view' %}" class="nav-link {% if nbar == 'stocks' %}active{% endif %}">Stocks</a>
        </li>
        {% if profile.user_type|lower == "admin" %}
            <li class="nav-item">
                <a href="{% url 'staff_list' %}" class="nav-link {% if nbar == 'people' %}active{% endif %}">People</a>
            </li>
        {% endif %}
    </ul>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-none d-md-block sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    {% for link in links %}
                        <li class="nav-item">
                            <a href="{% url link.href %}" class="nav-link">{{ link.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 col-lg-10 ml-sm-auto pt-3 px-4">
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == 25 %}
                            <div class="alert alert-success text-center" role="alert">
                                <strong>Success:</strong> {{ message }} <i class="fas fa-check"></i>
                            </div>
                        {% elif message.level == 20 %}
                            <div class="alert alert-info text-center" role="alert">
                                <strong>Info:</strong> {{ message }} <i class="fas fa-info-circle"></i>
                            </div>
                        {% elif message.level == 30 %}
                            <div class="alert alert-warning text-center" role="alert">
                                <strong>Warning:</strong> {{ message }} <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        {% elif message.level == 40 %}
                            <div class="alert alert-danger text-center" role="alert">
                                <strong>Error:</strong> {{ message }} <i class="fas fa-times-circle"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}