<table class="table table-responsive-sm">
    <tbody>
        {% for notification in notification_list %}
            <tr>
                {% if notification.type.type == "New Job Alert" %}
                    <td>
                        <i class="fas fa-tools fa-2x text-info"></i>
                    </td>
                    <td>
                        You have been assigned a new job!
                    </td>
                    <td>
                        <a href="{% url 'job_detail' notification.value %}">
                            Job #{{ notification.value }}
                        </a>
                    </td>
                {% elif notification.type.type == "Stock Warning" %}
                    <td>
                        <i class="fas fa-cubes fa-2x text-warning"></i>
                    </td>
                    <td>
                        A stock item is under it's stock alert level!
                    </td>
                    <td>
                        <a href="{% url 'stock_item_details' notification.value %}">
                            Stock Item #{{ notification.value }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>