{% extends "main.html" %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Job #{{ job.id }}
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Job Title</b>
                                <span class="float-right">{{ job.job_title }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b>
                                <span class="float-right">{{ job.department }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Job Type</b>
                                <span class="float-right">{{ job.type }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Priority</b>
                                <span class="float-right">{{ job.priority }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Status</b>
                                <span class="float-right">{{ job.status }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Assigned To</b>
                                <span class="float-right">
                                    {% if job.assigned_to.all|length > 0 %}
                                        <ul class="list-group list-group-flush">
                                            {% for ass_user in job.assigned_to.all %}
                                                <li class="list-group-item">{{ ass_user }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %} 
                                        Unassigned
                                    {% endif %}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <b>Created By</b>
                                <span class="float-right">{{ job.created_by }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Created On</b>
                                <span class="float-right">{{ job.created_on }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list-group list-group-flush">
                            {% if job.project %}
                                <li class="list-group-item">
                                    <b>Project</b>
                                    <span class="float-right">
                                        <a href="{% url 'project_details' job.project.id %}">{{ job.project }}</a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if job.asset %}
                                <li class="list-group-item">
                                    <b>Asset</b>
                                    <span class="float-right">
                                        <a href="{% url 'asset_details' job.asset.id %}">{{ job.asset }}</a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if job.ppm %}
                                <li class="list-group-item">
                                    <b>PPM</b>
                                    <span class="float-right">
                                        <a href="{% url 'ppm_details' job.ppm.id %}">{{ job.asset }}</a>
                                    </span>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <b>Description</b>
                                <p class="float-right">{{ job.description }}</p>
                            </li>
                            <li class="list-group-item">
                                <b>Attachments</b>
                                <span class="float-right">N/A</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Job Steps
            </h4>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <tbody>
                        {% for step in job_steps %}
                            <tr>
                                <th>{{ step.step_number }}.</th>
                                <td>{{ step.step }}</td>
                                <td>
                                    {% if step.completed %}
                                        <i class="far fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="far fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Parts
            </h4>
            <div class="card-body">
                TBD
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Equipment Needed
            </h4>
            <div class="card-body">
                TBD
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <h4 class="card-header">
                Job Times
            </h4>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <tbody>
                        <thead>
                            <th>User</th>
                            <th>Time Spent</th>
                        </thead>
                        {% for log in job_times %}
                            <tr>
                                <td>{{ log.user }}</td>
                                <td>{{ log.time_diff }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        {% if job.status.status != 'Completed' and job.status.status != 'Cancelled' %}
            <a href="{% url 'edit_job' job.id %}" class="btn action-button midnight-blue">
                <i class="fas fa-pen"></i> Edit Job
            </a>
            <a href="#" class="btn action-button blue">
                <i class="far fa-clock"></i> Start/Stop Job
            </a>
            <a href="{% url 'create_time_log' job.id %}" class="btn action-button purple">
                <i class="far fa-calendar"></i> Log Time
            </a>
            <a href="{% url 'mark_completed' job.id %}" class="btn action-button btn-success">
                <i class="fas fa-check"></i> Mark Completed
            </a>
            <a href="#" class="btn action-button orange">
                <i class="fas fa-plus"></i> Add Part
            </a>
            <a href="{% url 'cancel_job' job.id %}" class="btn action-button btn-danger">
                <i class="fas fa-times"></i> Cancel Job
            </a>
        {% else %}
            <a href="{% url 'reopen_job' job.id %}" class="btn action-button btn-success">
                <i class="fas fa-plus"></i> Reopen Job
            </a>
            {% if job.status.status != 'Cancelled' %}
                <a href="{% url 'cancel_job' job.id %}" class="btn action-button btn-danger">
                    <i class="fas fa-times"></i> Cancel Job
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}