{% load auth_tests %}
<div class="col-12">
    {% job_test as job_auth %}
    {% if job_auth %}
        {% if job.status.status != 'Completed' and job.status.status != 'Cancelled' %}
            {% if user_started == 0 %}
                <a href="{% url 'start_job_log' job.id %}" class="btn action-button blue">
                    <i class="far fa-clock"></i> Start Job
                </a>
            {% else %}
                <a href="{% url 'stop_job_log' job.id %}" class="btn action-button blue">
                    <i class="far fa-clock"></i> Stop Job
                </a>
            {% endif %}
            {% if job_steps|length > 0 %}
                <a href="{% url 'complete_job_steps' job.id %}" class="btn action-button btn-warning">
                    <i class="far fa-calendar"></i> Complete Steps
                </a>
            {% endif %}
            <a href="{% url 'create_time_log' job.id %}" class="btn action-button purple">
                <i class="far fa-calendar"></i> Log Time
            </a>
            <a href="{% url 'edit_job' job.id %}" class="btn action-button midnight-blue">
                <i class="fas fa-pen"></i> Edit Job
            </a>
            <a href="{% url 'mark_completed' job.id %}" class="btn action-button btn-success">
                <i class="fas fa-check"></i> Mark Completed
            </a>
            <a href="{% url 'create_job_stock_transfer' job.id %}" class="btn action-button orange">
                <i class="fas fa-plus"></i> Add Part
            </a>
            <a href="{% url 'cancel_job' job.id %}" class="btn action-button btn-danger">
                <i class="fas fa-times"></i> Cancel Job
            </a>
        {% else %}
            <a href="{% url 'reopen_job' job.id %}" class="btn action-button btn-success">
                <i class="fas fa-plus"></i> Reopen Job
            </a>
            {% if job.status.status != 'Cancelled' %}
                <a href="{% url 'cancel_job' job.id %}" class="btn action-button btn-danger">
                    <i class="fas fa-times"></i> Cancel Job
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>